In [1]:
import pandas as pd
import numpy as np
import os
%pprint off

Pretty printing has been turned OFF

In [2]:
def rearrange_col(dataframe, col_to_move, reference_col, right=True):
    col_list = dataframe.columns.values.tolist()
    col_list2 = [x for x in col_list if x != col_to_move]
    reference_idx = col_list2.index(reference_col)
    if right==True:
        col_list3 = []
        for y in col_list2:
            col_list3.append(y)
            if y == reference_col:
                col_list3.append(col_to_move)
        return dataframe[col_list3]
    else:
        col_list3 = []
        for y in col_list2:
            col_list3.append(y)
            if y == reference_col:
                col_list3.insert(-2, col_to_move)
        return  dataframe[col_list3]

In [3]:
fpath = '/Users/songkim/GoogleDrive/Primary/Projects/VerbVector/AMT/html/experiments/ratings2/results/results_clean_0628.csv'

In [33]:
res = pd.read_csv(fpath, converters={'response': eval, 'RT': eval, 'buttonpress': eval, 'catch_response': eval})
res.sort_values(by=['stim_id', 'id'], inplace=True)

######################### check number of responses per lemma
# for i in set(res['stim_id']): 
#     df = res.loc[res['stim_id']==i]
#     print (i, df.shape[0])

########################## convert N/A to 0 
res['catch_response_upd'] = res['catch_response'].apply(lambda x: ['0' if i=='7' else i for i in x])
res['response_upd'] = res['response'].apply(lambda x: ['0' if i=='7' else i for i in x])

res = rearrange_col(res, 'catch_response_upd', 'catch_response')
res = rearrange_col(res, 'response_upd', 'response')

res.drop(columns=['catch_response_upd', 'response_upd'], inplace=True)


#########################drop bad subjects
res = res.loc[res['badsubject']=='N', ]
res.tail()

,id,stim_id,stim,subject_id,response,start,end,RT,buttonpress,turkcode,subject_num,gender,age,education,occupation,results_id,catch_subject_id,catch_response,correctN,badsubject
1228,1229,320,overwhelm,197,"[3, 0, 0, 0, 1, 4, 0, 2, 1, 1, 5, 2, 1, 1, 1, ...",2021-06-04 04:18:12,2021-06-04 04:35:58,"[2677, 4588, 2250, 4185, 2925, 11564, 2398, 40...","[1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, ...",8480686,A3UWHJTAUTF6TO,o,24,16.0,financemanager,675,197,"[0, 6, 0, 6, 6]",4,N
1699,1700,320,overwhelm,85,"[0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2021-06-14 12:07:41,2021-06-14 12:11:07,"[2097, 1664, 1768, 1825, 1831, 1904, 1904, 171...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",3507655,A3DUPRZSMU9W5R,f,45,16.0,customerservicerep,1146,85,"[0, 6, 0, 6, 6]",4,N
2043,2044,320,overwhelm,12,"[7, 4, 7, 0, 7, 2, 7, 7, 7, 2, 0, 7, 7, 7, 7, ...",2021-06-15 16:10:53,2021-06-15 16:35:05,"[8708, 5163, 2199, 3712, 56350, 937459, 3624, ...","[3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",4478957,A2Z6EQWA4XJQGI,f,26,16.0,NaN,1490,12,"[0, 6, 0, 6, 6]",4,N
2342,2343,320,overwhelm,151,"[1, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 1, 1, 0, ...",2021-06-21 14:52:34,2021-06-21 14:57:50,"[2296, 1850, 3049, 1850, 2221, 3117, 3440, 213...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",5440899,AKSLU0C30G3JT,m,48,16.0,Director,1789,151,"[0, 6, 0, 6, 6]",4,N
2803,2804,320,overwhelm,83,"[1, 1, 2, 0, 0, 4, 3, 5, 5, 1, 3, 3, 0, 3, 0, ...",2021-06-23 15:51:03,2021-06-23 15:56:51,"[5574, 3889, 2864, 1694, 4158, 2610, 3714, 356...","[4, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",3102510,A3542PB4Z0NE80,m,38,14.0,officeclerk,2250,83,"[0, 6, 0, 6, 6]",4,N

In [34]:
####### spread responses into separate columns
# df_test = res[["id", "stim_id", "response"]]

print ('before spreading:', res.shape)

# response_n = len(res.iloc[0]["response"])
# column = []
# for i in range(1, response_n+1):
#     column.append('q'+str(i))  ##### column = ['q1', 'q2', ... 'q72']

# res[column] = pd.DataFrame(res.response.tolist(), index=res.index)

# print ('after spreading:', res.shape)

#res.tail()

#df2[['team1','team2']] = pd.DataFrame(df2.teams.tolist(), index= df2.index)

before spreading: (2458, 20)

In [69]:
### convert to a dict 
# res_dict = res.set_index('id').to_dict(orient='index')

## calculate group average vector for each word
stim_id_n = len(set(res['stim_id']))  ###i.e., 320

response_n = len(res.iloc[0]["response"])
column = []
for i in range(1, response_n+1):
    column.append('q'+str(i))  ##### column = ['q1', 'q2', ... 'q72']

stim_df = {}
for i in range(1, stim_id_n+1):
    df = res.loc[res['stim_id']==i, ]
    df_responses = pd.DataFrame(df.response.tolist(), columns=column).astype(int)
    avg = list(df_responses.mean())
    avg = [round(i,3) for i in avg]
#     print (df.shape)
#     print (df_responses.shape)

    stim_df[i] = {'stim': df.iloc[0]['stim'], 'subject_ids': df['subject_id'].values.tolist(), 
                  'response_N': df.shape[0], 'response_avg': avg}

In [70]:
stim_df[320]

{'stim': 'overwhelm', 'subject_ids': [247, 249, 303, 467, 197, 85, 12, 151, 83], 'response_N': 9, 'response_avg': [2.0, 0.889, 1.444, 0.0, 1.667, 2.222, 1.222, 2.333, 2.222, 1.0, 1.0, 1.778, 1.222, 1.667, 1.111, 1.0, 0.889, 0.778, 0.778, 1.778, 1.444, 2.667, 1.667, 1.333, 0.889, 1.111, 0.889, 0.778, 1.333, 0.222, 0.333, 1.111, 1.333, 0.889, 1.333, 1.333, 1.556, 1.333, 1.111, 3.111, 1.444, 0.111, 0.889, 1.111, 2.111, 2.778, 3.444, 3.667, 2.667, 3.111, 2.222, 1.222, 2.889, 1.667, 3.556, 1.222, 4.222, 1.333, 3.778, 2.222, 1.444, 3.111, 3.333, 1.889, 0.111, 3.556, 4.556, 1.333, 2.444, 2.444, 3.889, 2.778]}

In [45]:
# list_1 = [1, 1, 1, 1]
# list_2 = [-1, -1, -1, -1]
# list_3 = [1, 3, 5, 7]
# list_4 = [0,0,0,100]
# dfx=pd.DataFrame({"list_1":list_1,"list_2":list_2,"list_3":list_3,"list_4":list_4})
# dfx

   list_1  list_2  list_3  list_4
0       1      -1       1       0
1       1      -1       3       0
2       1      -1       5       0
3       1      -1       7     100

In [ ]:
##### descriptive statistics on RT, subject, 
####  intersubject correlation per lemma
####  sonify
####  klustering

In [ ]:
# t1= '0_6_0_6_6'
# t1.split('_')

# testlist = ['5', '7', '3', '0', '6', '0', '3', '1', '0']
# ['0' if t=='7' else t for t in testlist]
#new_prices = [round(price - (price * 10 / 100), 2) if price > 50 else price for price in prices]