In [1]:
import pandas as pd
import numpy as np
import os
%pprint off

Pretty printing has been turned OFF

In [5]:
fpath = '/Users/songkim/GoogleDrive/Primary/Projects/VerbVector/AMT/html/experiments/ratings2/results/results_clean_0630.csv'

In [6]:
res = pd.read_csv(fpath)
#res = res.sort_values(by=['stim_id', 'id'])
res
## check number of responses per lemma
# for i in set(res['stim_id']): 
#     df = res.loc[res['stim_id']==i]
#     print (i, df.shape[0])

,id,stim_id,stim,subject_id,response,start,end,RT,buttonpress,turkcode,subject_num,gender,age,education,occupation,results_id,catch_subject_id,catch_response,correctN,badsubject
0,1,159,laugh,1,"['1', '0', '0', '3', '0', '0', '1', '5', '6', ...",2021-05-25 16:26:41,2021-05-25 16:35:15,"['10451', '2940', '2319', '3999', '2779', '311...","['1', '1', '1', '1', '1', '1', '1', '1', '1', ...",8545510,A3I9XLIHPPWPN1,f,57,18.0,Dataanalystadministrationassistant,1,1,"['0', '6', '0', '6', '6']",4,N
1,2,295,see,2,"['6', '3', '0', '1', '1', '2', '0', '4', '0', ...",2021-05-25 16:29:38,2021-05-25 16:36:24,"['4024', '9148', '2726', '5130', '5199', '3487...","['1', '4', '1', '1', '1', '1', '1', '1', '1', ...",2727964,A2CWJRAEFZ44HU,m,36,14.0,nursingassistantihelpoutpatientsandstaffinahos...,2,2,"['0', '6', '0', '6', '6']",4,N
2,3,214,flatten,3,"['3', '7', '7', '7', '5', '3', '1', '1', '3', ...",2021-05-25 16:26:58,2021-05-25 16:36:47,"['4432', '2912', '2592', '3640', '7976', '6904...","['1', '1', '1', '1', '1', '1', '1', '1', '1', ...",3205581,A7ERZELTAMWL5,m,70,18.0,PatrolofficerIridearoundaresidentialcomplextoc...,3,3,"['0', '6', '0', '6', '6']",4,N
3,4,195,increase,4,"['4', '3', '6', '4', '3', '2', '3', '3', '6', ...",2021-05-25 16:30:25,2021-05-25 16:37:35,"['2941', '3771', '4392', '2726', '3770', '3690...","['1', '1', '1', '1', '1', '1', '1', '1', '1', ...",6434648,A1MKYMYY34DZIO,m,30,16.0,student,4,4,"['4', '6', '5', '6', '6']",3,Y
4,5,262,calm,5,"['4', '0', '0', '0', '3', '0', '0', '1', '4', ...",2021-05-25 16:28:07,2021-05-25 16:38:09,"['4142', '2349', '7257', '8933', '4802', '3372...","['1', '1', '1', '1', '1', '1', '1', '1', '1', ...",1247441,A2LF84L3K71GR2,f,38,12.0,RestaurantSupervisor,5,5,"['0', '6', '0', '6', '6']",4,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2811,2812,241,specify,67,"['5', '6', '3', '0', '6', '0', '3', '1', '0', ...",2021-06-23 16:53:51,2021-06-23 17:02:21,"['3708', '4464', '2788', '2388', '2708', '4596...","['1', '1', '1', '1', '1', '1', '1', '1', '2', ...",2268511,A2WPHVMLLEV5ZB,m,26,12.0,Mturker,2258,67,"['0', '6', '0', '6', '6']",4,N
2812,2813,80,wilt,280,"['0', '0', '0', '5', '4', '0', '0', '3', '3', ...",2021-06-23 16:49:42,2021-06-23 17:02:27,"['15064', '2207', '9752', '2816', '6272', '566...","['1', '1', '1', '1', '1', '1', '1', '2', '1', ...",9427636,A1P57CKX00HC2I,f,63,26.0,selfemployed,2259,280,"['0', '6', '0', '6', '6']",4,N
2813,2814,32,squeal,552,"['0', '0', '0', '0', '0', '0', '3', '3', '1', ...",2021-06-23 17:01:15,2021-06-23 17:06:45,"['3222', '1628', '2109', '2202', '2187', '2383...","['1', '1', '1', '1', '1', '1', '1', '1', '2', ...",8197779,A2OVX9UW5WANQE,f,47,14.0,secretary,2260,552,"['0', '6', '0', '6', '6']",4,N
2814,2815,221,darken,898,"['5', '0', '6', '6', '6', '0', '0', '0', '3', ...",2021-06-23 17:06:28,2021-06-23 17:17:33,"['5103', '16967', '6294', '4914', '6429', '453...","['1', '1', '1', '1', '1', '1', '1', '1', '1', ...",3528996,A12MV66U9VGLQ1,f,81,19.0,retiredcomputerprogrammer,2261,898,"['7', '6', '7', '6', '6']",3,Y
2815,2816,249,announce,548,"['0', '7', '0', '0', '0', '0', '7', '0', '2', ...",2021-06-23 20:48:05,2021-06-23 20:57:21,"['2107', '1433', '1765', '7331', '1426', '1410...","['1', '1', '1', '1', '1', '1', '1', '1', '1', ...",4240846,A34CPKFZXBX1PO,f,22,16.0,receptionist,2262,548,"['0', '6', '0', '6', '6']",4,N

In [25]:
## convert N/A to 0 
res_combined['response_split'] = res_combined['response'].apply(lambda x:x.split('_'))

,id,stim_id,stim,subject_id,response,start,end,rt,buttonpress,turkcode,subject_num,gender,age,education,occupation,results_id,catch_subject_id,catch_response,correctN,badsubject
213,214,1,live,206,6_4_1_3_2_6_2_6_6_5_1_4_6_6_4_2_1_1_2_1_1_5_5_...,2021-05-26 11:38:39,2021-05-26 11:46:03,2253_6104_4009_3299_5748_9628_5439_2842_2449_3...,1_1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_...,4940126,A1ZDR2UN7M92LI,m,37,16.0,Foodprep,214,206,0_6_0_6_6,4,N
220,221,1,live,213,3_0_0_0_0_1_0_1_4_2_3_2_2_5_3_0_0_0_0_0_0_3_3_...,2021-05-26 11:35:37,2021-05-26 11:49:09,8232_1864_2304_1760_3624_3744_2015_2841_2776_4...,1_1_1_1_1_1_1_1_1_1_1_2_1_1_1_1_1_1_1_1_1_1_1_...,4019101,ALOYY3E72AQ1K,f,56,16.0,digitalproductmanagerworkingononlinecontentfor...,221,213,0_6_0_6_6,4,N
231,232,1,live,223,2_2_0_2_1_0_0_5_5_3_1_3_4_5_3_1_0_0_1_0_0_0_4_...,2021-05-26 10:54:50,2021-05-26 11:53:10,19852_7922_172288_4293_73124_2751_118019_21132...,1_1_1_2_1_1_1_1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,9110817,A171S8E9IFSHH2,m,33,14.0,healthcaresupport,232,223,0_6_0_6_6,4,N
840,841,1,live,286,0_0_0_0_0_0_1_0_5_0_3_2_1_3_1_0_0_0_0_0_0_1_1_...,2021-05-30 07:16:46,2021-05-30 07:26:46,14411_3015_1406_5198_1980_2520_4139_28823_8707...,1_1_1_2_1_1_2_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,4202983,A1EJ4HA4K85PBJ,f,53,18.0,communicationsdirectorforagovernmentagency,287,286,0_6_0_6_6,4,N
1095,1096,1,live,266,2_1_0_0_7_0_0_4_6_2_1_0_4_6_2_1_0_0_1_0_0_2_3_...,2021-06-03 17:58:11,2021-06-03 18:06:46,12905_5097_2779_3240_5073_3374_2363_4421_3701_...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,8140924,A1AZLJ3R5FQ9B7,f,67,16.0,Selfemployedwriter,542,266,0_6_0_6_6,4,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1228,1229,320,overwhelm,197,3_0_0_0_1_4_0_2_1_1_5_2_1_1_1_0_0_0_0_7_3_5_1_...,2021-06-04 04:18:12,2021-06-04 04:35:58,2677_4588_2250_4185_2925_11564_2398_4005_3430_...,1_1_1_1_2_1_1_1_1_1_1_1_1_1_2_1_1_1_1_1_1_3_2_...,8480686,A3UWHJTAUTF6TO,o,24,16.0,financemanager,675,197,0_6_0_6_6,4,N
1699,1700,320,overwhelm,85,0_0_0_0_0_3_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_...,2021-06-14 12:07:41,2021-06-14 12:11:07,2097_1664_1768_1825_1831_1904_1904_1712_2008_1...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,3507655,A3DUPRZSMU9W5R,f,45,16.0,customerservicerep,1146,85,0_6_0_6_6,4,N
2043,2044,320,overwhelm,12,7_4_7_0_7_2_7_7_7_2_0_7_7_7_7_7_7_7_7_7_1_7_7_...,2021-06-15 16:10:53,2021-06-15 16:35:05,8708_5163_2199_3712_56350_937459_3624_2469_316...,3_1_1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_...,4478957,A2Z6EQWA4XJQGI,f,26,16.0,NaN,1490,12,0_6_0_6_6,4,N
2342,2343,320,overwhelm,151,1_0_0_0_0_0_0_2_1_0_0_0_1_1_0_0_0_0_0_0_0_1_2_...,2021-06-21 14:52:34,2021-06-21 14:57:50,2296_1850_3049_1850_2221_3117_3440_2134_2112_4...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1_...,5440899,AKSLU0C30G3JT,m,48,16.0,Director,1789,151,0_6_0_6_6,4,N
2803,2804,320,overwhelm,83,1_1_2_0_0_4_3_5_5_1_3_3_0_3_0_0_0_0_0_1_3_3_1_...,2021-06-23 15:51:03,2021-06-23 15:56:51,5574_3889_2864_1694_4158_2610_3714_3560_2458_1...,4_2_1_1_1_1_1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,3102510,A3542PB4Z0NE80,m,38,14.0,officeclerk,2250,83,0_6_0_6_6,4,N

In [ ]:
##### descriptive statistics on RT, subject, 
####  intersubject correlation per lemma
####  sonify
####  klustering