In [1]:
import pandas as pd
import numpy as np
import csv
import os
%pprint off

Pretty printing has been turned OFF

In [3]:
path = '/Users/songkim/GoogleDrive/Primary/Projects/VerbVector/AMT/html/experiments/ratings2/results/'
backups = next(os.walk(path))[1]
backups = [b for b in backups if b.startswith('backup')]
backups

['backup0_1_550', 'backup1_550-1050', 'backup3_0628', 'backup2_0610']

In [4]:
def rearrange_col(dataframe, col_to_move, reference_col, right=True):
    col_list = dataframe.columns.values.tolist()
    col_list2 = [x for x in col_list if x != col_to_move]
    reference_idx = col_list2.index(reference_col)
    if right==True:
        col_list3 = []
        for y in col_list2:
            col_list3.append(y)
            if y == reference_col:
                col_list3.append(col_to_move)
        return dataframe[col_list3]
    else:
        col_list3 = []
        for y in col_list2:
            col_list3.append(y)
            if y == reference_col:
                col_list3.insert(-2, col_to_move)
        return  dataframe[col_list3]

In [11]:
def return_res_catch_subj(backupfolder):
    
    path = '/Users/songkim/GoogleDrive/Primary/Projects/VerbVector/AMT/html/experiments/ratings2/results/'
#     stimr = pd.read_csv(path+backupfolder+'/'+'wro1_stimuli.txt', delimiter="\t")
#     stim = stimr[stimr['id'].notna()][["id", "stim"]].reset_index(drop=True).astype({"id": int})
#     stim['stim'] = stim['stim'].str[:-1]

    catchr = pd.read_csv(path+backupfolder+'/'+'wro1_catchresults.txt',delimiter="\t")
    catch = catchr.rename(columns={"response": "catch_response", "subject_id":"catch_subject_id"})

    resr = pd.read_csv(path+backupfolder+'/'+'wro1_results.txt', delimiter="\t")
    res = resr.drop(columns=['stimtype_id','sense'])

    subj_raw = pd.read_csv(path+backupfolder+'/'+'wro1_subjects.txt',delimiter="\t")
    subj = subj_raw.rename(columns={"id": "subject_id"})

    return (res, catch, subj)

In [12]:
#### basic check on each dataset ##### 
b1 = backups[0]
b2 = backups[2]

for b in [b1, b2]:
    print('backup selected:', b)
    print(os.listdir(path+'/'+b))

    stimr = pd.read_csv(path+b+'/'+'wro1_stimuli.txt', delimiter="\t")
    stim = stimr[stimr['id'].notna()][["id", "stim"]].reset_index(drop=True).astype({"id": int})
    stim['stim'] = stim['stim'].str[:-1]
    
    ques = pd.read_csv(path+b+'/'+'wro1_questions.txt', delimiter="\t")

    catchr = pd.read_csv(path+b+'/'+'wro1_catchresults.txt',delimiter="\t")
    catch = catchr.rename(columns={"response": "catch_response", "subject_id":"catch_subject_id"})
    #print ("catch trial:", catch.shape[0])
    
    resr = pd.read_csv(path+b+'/'+'wro1_results.txt', delimiter="\t")
    res = resr.drop(columns=['stimtype_id','sense'])
    #print ("main trial:", res.shape[0])
    starttime = res.loc[res['id']==1, "start"].values[0]
    endtime = res.loc[res['id']==res.shape[0], "end"].values[0]
    print('FROM', starttime, 'TO', endtime)
    
    subj_raw = pd.read_csv(path+b+'/'+'wro1_subjects.txt',delimiter="\t")
    subj = subj_raw.rename(columns={"id": "subject_id"})
    #print('subject N:', subj.shape[0])
    
    print('# of questions:', ques.shape[0])
    print('# of catch HITs:', catch.shape[0])
    print('# of HITs:     ', res.shape[0])
    print('# of subjects: ', subj.shape[0])
    
    check1 = catch.shape[0] == res.shape[0]
    check2 = res.shape[0] >= subj.shape[0] 
    check3 = res['subject_id'].equals(other=catch['catch_subject_id'])

    if check1==0:
        print ('# of catch trials != # of trials')
    elif check2==0:
        print ('# of subjects are more than # of HITs')
    elif check3==0:
        print('subject_id are not the same in trials and catchtrials')
       
    print ('=============================================')

backup selected: backup0_1_550
['wro1_stimuli.txt', 'wro1_subjects.txt', 'wro1_catchresults.txt', 'wro1_stimtypes.txt', 'wro1_results.txt', 'wro1_questions.txt']
FROM 2021-05-25 16:26:41 TO 2021-05-28 01:18:52
# of questions: 72
# of catch HITs: 554
# of HITs:      554
# of subjects:  527
=============================================
backup selected: backup3_0628
['wro1_stimuli copy.txt', 'wro1_stimuli.txt', 'wro1_subjects.txt', 'wro1_catchresults.txt', 'wro1_results.txt', 'wro1_questions.txt']
FROM 2021-05-28 16:52:09 TO 2021-06-23 20:57:21
# of questions: 72
# of catch HITs: 2262
# of HITs:      2262
# of subjects:  898
=============================================

In [13]:
######catch trial info
catch1 = 'being an animal living on the surface of sun'
catch2 = 'being something about which you are supposed to answer questions in this assignment'
catch3 = 'being an object that is smaller than a shoe box and larger than a mountain'
catch4 = 'being something you have thought about within the last couple minutes'
catch5 = 'being used to check whether you are carefully reading the questions'
catch_answers = ['0/7','6','0','6','6']

def count_correct_answers(list1):
    '''list1 = correct answers, list2=actual responses'''
    catch_answers = ['0/7','6','0','6','6']
    if len(list1) != len(catch_answers):
        print ('responses have different lengths!')
        return
    correct_answer = 0
    if catch_answers[0] in list1[0].split('/'):
        correct_answer += 1
    for i in range(1,len(list1)):
        iscorrect = list1[i]==catch_answers[i]
        correct_answer += iscorrect        
    return correct_answer

count_correct_answers(['5', '6', '0', '6', '6'])

4

In [14]:
def merge_results(res, catch, subj): 
    res_all = pd.merge(left=res, right=subj, on='subject_id')
    res_all = res_all.sort_values(by=['id'])
    print('result df:', res.shape)
    print('subject df:', subj.shape)
    print('df returned:', res_all.shape)
    
    catch = catch.drop(columns='id') 
    res_all = pd.merge(left=res_all, right=catch, left_on="id", right_on="results_id")
    
    #print(res_all.shape)
    #print(catch.shape)
    print ('=========================================================')
    
    return res_all

In [15]:
## merge each data 
[res1, catch1, subj1] = return_res_catch_subj(b1)
[res2, catch2, subj2] = return_res_catch_subj(b2)
res_all1 = merge_results(res1, catch1, subj1)
res_all2 = merge_results(res2, catch2, subj2)

result df: (554, 9)
subject df: (527, 6)
df returned: (554, 14)
=========================================================
result df: (2262, 9)
subject df: (898, 6)
df returned: (2262, 14)
=========================================================

In [33]:
res_combined = pd.concat([res_all1, res_all2], ignore_index=True)
res_combined['id'] = list(range(1, res_combined.shape[0]+1))

print(res_all1.shape)
print(res_all2.shape)
print(res_combined.shape)
#res_combined

###check whether there is a duplicate row
# duplicates = res_combined.duplicated()
# duplicates = duplicates.index[duplicates]
# len(duplicates)


#### add lemma column
stimr = pd.read_csv(path+b1+'/'+'wro1_stimuli.txt', delimiter="\t")
stim = stimr[stimr['id'].notna()][["id", "stim"]].reset_index(drop=True).astype({"id": int})
stim['stim'] = stim['stim'].str[:-1]
stim.rename(columns={'id':'stim_id'}, inplace=True)
#stim

res_combined = pd.merge(left=res_combined, right=stim, on="stim_id").sort_values(by="id")
res_combined = rearrange_col(res_combined, 'stim', 'stim_id')

(554, 17)
(2262, 17)
(2816, 17)

In [34]:
########test
# df = pd.DataFrame({'id':[1,2,3,4,5,6,7,8], 'stim_id': [1,2,3,1,2,3,7,6]})
# st = pd.DataFrame({'stim_id': [1,2,3,4,5,6,7,8,9], 'stim': ['a','b','c','d','e','f','g','h','i']})
# df

# st

# dfst = pd.merge(left=df, right=st, on="stim_id").sort_values(by="id")
# dfst

In [35]:
##### mark bad subjects
res_combined['catch_response_split'] = res_combined['catch_response'].apply(lambda x:x.split('_'))
catch_series = res_combined['catch_response_split'].tolist()
correct_answer = [count_correct_answers(l) for l in catch_series]
res_combined['correctN'] = correct_answer

res_combined.loc[res_combined['correctN']<4, 'badsubject'] = 'Y'
res_combined.loc[res_combined['correctN']>=4, 'badsubject'] = 'N'
res_bad = res_combined.loc[res_combined['badsubject']=='Y']
print('# of bad subject:', res_bad.shape[0], 'out of', res_combined.shape[0])


res_combined['response_split'] = res_combined['response'].apply(lambda x:x.split('_'))
res_combined['RT_split'] = res_combined['rt'].apply(lambda x:x.split('_'))
res_combined['buttonpress_split'] = res_combined['buttonpress'].apply(lambda x:x.split('_'))

res_combined = rearrange_col(res_combined, "response_split", "response")
res_combined = rearrange_col(res_combined, "RT_split", "rt")
res_combined = rearrange_col(res_combined, "buttonpress_split", "buttonpress")

for c in ['catch_response', 'response', 'rt', 'buttonpress']:
    res_combined.drop(columns=[c], inplace=True)
    
res_combined.rename(columns={'catch_response_split': 'catch_response', 'response_split':'response', 'RT_split':'RT', 'buttonpress_split':'buttonpress'}, inplace=True)

res_combined

# of bad subject: 358 out of 2816

,id,stim_id,stim,subject_id,response,start,end,RT,buttonpress,turkcode,subject_num,gender,age,education,occupation,results_id,catch_subject_id,catch_response,correctN,badsubject
0,1,159,laugh,1,"[1, 0, 0, 3, 0, 0, 1, 5, 6, 2, 3, 3, 6, 2, 0, ...",2021-05-25 16:26:41,2021-05-25 16:35:15,"[10451, 2940, 2319, 3999, 2779, 3110, 6525, 75...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, ...",8545510,A3I9XLIHPPWPN1,f,57,18.0,Dataanalystadministrationassistant,1,1,"[0, 6, 0, 6, 6]",4,N
10,2,295,see,2,"[6, 3, 0, 1, 1, 2, 0, 4, 0, 1, 0, 3, 3, 0, 0, ...",2021-05-25 16:29:38,2021-05-25 16:36:24,"[4024, 9148, 2726, 5130, 5199, 3487, 2790, 432...","[1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2727964,A2CWJRAEFZ44HU,m,36,14.0,nursingassistantihelpoutpatientsandstaffinahos...,2,2,"[0, 6, 0, 6, 6]",4,N
18,3,214,flatten,3,"[3, 7, 7, 7, 5, 3, 1, 1, 3, 2, 0, 5, 7, 1, 4, ...",2021-05-25 16:26:58,2021-05-25 16:36:47,"[4432, 2912, 2592, 3640, 7976, 6904, 5368, 608...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",3205581,A7ERZELTAMWL5,m,70,18.0,PatrolofficerIridearoundaresidentialcomplextoc...,3,3,"[0, 6, 0, 6, 6]",4,N
26,4,195,increase,4,"[4, 3, 6, 4, 3, 2, 3, 3, 6, 5, 5, 5, 6, 6, 5, ...",2021-05-25 16:30:25,2021-05-25 16:37:35,"[2941, 3771, 4392, 2726, 3770, 3690, 2473, 130...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6434648,A1MKYMYY34DZIO,m,30,16.0,student,4,4,"[4, 6, 5, 6, 6]",3,Y
35,5,262,calm,5,"[4, 0, 0, 0, 3, 0, 0, 1, 4, 0, 5, 0, 4, 2, 2, ...",2021-05-25 16:28:07,2021-05-25 16:38:09,"[4142, 2349, 7257, 8933, 4802, 3372, 3349, 830...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, ...",1247441,A2LF84L3K71GR2,f,38,12.0,RestaurantSupervisor,5,5,"[0, 6, 0, 6, 6]",4,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2090,2812,241,specify,67,"[5, 6, 3, 0, 6, 0, 3, 1, 0, 3, 2, 5, 1, 3, 5, ...",2021-06-23 16:53:51,2021-06-23 17:02:21,"[3708, 4464, 2788, 2388, 2708, 4596, 8992, 248...","[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",2268511,A2WPHVMLLEV5ZB,m,26,12.0,Mturker,2258,67,"[0, 6, 0, 6, 6]",4,N
207,2813,80,wilt,280,"[0, 0, 0, 5, 4, 0, 0, 3, 3, 0, 3, 3, 0, 0, 0, ...",2021-06-23 16:49:42,2021-06-23 17:02:27,"[15064, 2207, 9752, 2816, 6272, 5664, 4656, 78...","[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",9427636,A1P57CKX00HC2I,f,63,26.0,selfemployed,2259,280,"[0, 6, 0, 6, 6]",4,N
555,2814,32,squeal,552,"[0, 0, 0, 0, 0, 0, 3, 3, 1, 0, 1, 0, 1, 0, 0, ...",2021-06-23 17:01:15,2021-06-23 17:06:45,"[3222, 1628, 2109, 2202, 2187, 2383, 5384, 217...","[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",8197779,A2OVX9UW5WANQE,f,47,14.0,secretary,2260,552,"[0, 6, 0, 6, 6]",4,N
1841,2815,221,darken,898,"[5, 0, 6, 6, 6, 0, 0, 0, 3, 0, 3, 0, 2, 5, 0, ...",2021-06-23 17:06:28,2021-06-23 17:17:33,"[5103, 16967, 6294, 4914, 6429, 4531, 14854, 6...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",3528996,A12MV66U9VGLQ1,f,81,19.0,retiredcomputerprogrammer,2261,898,"[7, 6, 7, 6, 6]",3,Y
2780,2816,249,announce,548,"[0, 7, 0, 0, 0, 0, 7, 0, 2, 0, 7, 0, 3, 0, 0, ...",2021-06-23 20:48:05,2021-06-23 20:57:21,"[2107, 1433, 1765, 7331, 1426, 1410, 2358, 290...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",4240846,A34CPKFZXBX1PO,f,22,16.0,receptionist,2262,548,"[0, 6, 0, 6, 6]",4,N

In [37]:
## export to csv
res_combined.to_csv(path+'results_clean_0628.csv', index=False)

In [ ]:
#######to export bad subjects list
# df_out = res_combined.loc[res_combined['badsubject']=='Y', ]
# df_out.to_csv(path+'badsubjects.csv')