In [ ]:
### read each backup
### find out bad subjects
### append to results_cumulative

In [1]:
import pandas as pd
import numpy as np
import csv
import os
%pprint off

Pretty printing has been turned OFF

In [39]:
path = '/Users/songkim/Google Drive/Primary/Projects/VerbVector/AMT/html/experiments/ratings2/results/'
backups = next(os.walk(path))[1]
backups = [b for b in backups if b.startswith('backup')]
backups

['backup_1_550', 'backup2_0610', 'backup_550-1050']

In [40]:
b = backups[1]
print('backup selected:', b)
os.listdir(path+'/'+b)

# stim = pd.read_csv(path+'/'+b+'/'+'wro1_stimuli.txt', delimiter="\t")
# ques = pd.read_csv(path+'/'+b+'/'+'wro1_questions.txt', delimiter="\t")

# catch_raw = pd.read_csv(path+'/'+b+'/'+'wro1_catchresults.txt', delimiter="\t")
# catch = catch_raw.rename(columns={"response": "catch_response", "subject_id":"catch_subject_id"})

# res_raw = pd.read_csv(path+'/'+b+'/'+'wro1_results.txt', delimiter="\t")
# res = res_raw.drop(columns=['stimtype_id','sense'])

# subj_raw = pd.read_csv(path+'/'+b+'/'+'wro1_subjects.txt', delimiter="\t")
# subj = subj_raw.rename(columns={"id": "subject_id"})
# #print('stimulus:', stim.shape)

# print('# of questions:', ques.shape[0])
# print('# of catch HITs:', catch.shape[0])
# print('# of HITs:     ', res.shape[0])
# print('# of subjects: ', subj.shape[0])

# check1 = catch.shape[0] == res.shape[0]
# check2 = res.shape[0] >= subj.shape[0] 
# check3 = res['subject_id'].equals(other=catch['catch_subject_id'])

# if check1==0:
#     print ('# of catch trials != # of trials')
# elif check2==0:
#     print ('# of subjects are more than # of HITs')
# elif check3==0:
#     print('subject_id are not the same in trials and catchtrials')
    
##res_all is the ultimate df that will include all the information

backup selected: backup2_0610

['0610_wro1_questions.csv', '0610_wro1_subjects.csv', '0610_wro1_catchresults.csv', '0610_wro1_results.csv']

In [44]:
b = backups[1]
print('backup selected:', b)
os.listdir(path+'/'+b)

#stim = pd.read_csv(path+'/'+b+'/0610_'+'wro1_stimuli.txt', delimiter="\t")
#ques = pd.read_csv(path+'/'+b+'/'+'wro1_questions.txt', delimiter="\t")

catch_raw = pd.read_csv(path+'/'+b+'/0610_'+'wro1_catchresults.csv',delimiter="\t")
catch = catch_raw.rename(columns={"response": "catch_response", "subject_id":"catch_subject_id"})

res_raw = pd.read_csv(path+'/'+b+'/0610_'+'wro1_results.csv',delimiter="\t")
res = res_raw.drop(columns=['stimtype_id','sense'])

subj_raw = pd.read_csv(path+'/'+b+'/0610_'+'wro1_subjects.csv',delimiter="\t")
subj = subj_raw.rename(columns={"id": "subject_id"})
#print('stimulus:', stim.shape)

print('# of questions:', ques.shape[0])
print('# of catch HITs:', catch.shape[0])
print('# of HITs:     ', res.shape[0])
print('# of subjects: ', subj.shape[0])

check1 = catch.shape[0] == res.shape[0]
check2 = res.shape[0] >= subj.shape[0] 
check3 = res['subject_id'].equals(other=catch['catch_subject_id'])

if check1==0:
    print ('# of catch trials != # of trials')
elif check2==0:
    print ('# of subjects are more than # of HITs')
elif check3==0:
    print('subject_id are not the same in trials and catchtrials')
    
#res_all is the ultimate df that will include all the information

backup selected: backup2_0610
# of questions: 72
# of catch HITs: 1005
# of HITs:      1005
# of subjects:  638

In [46]:
######catch trial info
catch1 = 'being an animal living on the surface of sun'
catch2 = 'being something about which you are supposed to answer questions in this assignment'
catch3 = 'being an object that is smaller than a shoe box and larger than a mountain'
catch4 = 'being something you have thought about within the last couple minutes'
catch5 = 'being used to check whether you are carefully reading the questions'
catch_answers = ['0/7','6','0','6','6']

In [47]:
def count_correct_answers(list1, list2):
    '''list1 = correct answers, list2=actual responses'''
    if len(list1) != len(list2):
        print ('responses have different lengths!')
        return
    correct_answer = 0
    if list2[0] in list1[0].split('/'):
        correct_answer += 1
    for i in range(1,len(list1)):
        iscorrect = list1[i]==list2[i]
        correct_answer += iscorrect
        
    return correct_answer

count_correct_answers(catch_answers,['5', '6', '0', '6', '6'])

4

In [48]:
res

,id,stim_id,subject_id,response,start,end,rt,buttonpress,turkcode
0,1,314,1,2_0_0_0_0_2_1_1_1_1_0_0_3_1_1_0_0_0_0_0_0_0_6_...,2021-05-28 16:52:09,2021-05-28 16:57:15,3808_2670_2578_2162_2638_3586_3468_2829_7744_2...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,1172003
1,2,83,2,3_1_3_2_0_0_2_1_1_1_3_1_0_0_0_0_1_0_0_3_2_5_4_...,2021-05-28 16:53:22,2021-05-28 16:58:34,2985_4603_2106_6111_3864_6071_1738_3299_2842_2...,1_1_1_2_1_2_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_2_1_...,6827148
2,3,196,3,3_3_0_1_3_3_1_4_3_3_5_6_1_3_2_1_0_0_2_1_2_1_3_...,2021-05-28 16:53:23,2021-05-28 16:58:54,3791_2363_2233_2699_7626_5000_2766_2659_3275_2...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,9867722
3,4,226,4,6_2_1_2_3_2_2_2_5_3_2_1_3_4_3_2_2_3_3_2_3_1_3_...,2021-05-28 16:53:13,2021-05-28 16:59:04,2760_2504_3000_3256_4497_3863_2263_5360_3407_2...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,1299323
4,5,36,5,1_0_0_0_0_1_3_1_2_0_1_0_0_1_4_1_0_4_0_0_0_1_1_...,2021-05-28 16:53:52,2021-05-28 16:59:49,2693_2568_1878_1820_2282_5372_6529_3926_3078_2...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_1_1_1_1_1_1_...,8866551
...,...,...,...,...,...,...,...,...,...
1000,1001,59,638,2_0_0_0_0_2_4_5_1_4_1_4_0_4_5_0_1_2_5_5_1_1_1_...,2021-06-07 17:20:26,2021-06-07 17:27:57,3129_2720_2952_2216_3192_19344_2040_10048_3656...,2_1_1_1_1_1_1_1_2_2_2_1_2_3_1_1_1_1_1_1_1_1_2_...,3649306
1001,1002,129,135,3_0_0_0_0_1_0_0_2_0_0_0_0_1_0_0_0_0_0_0_0_0_0_...,2021-06-07 17:28:50,2021-06-07 17:43:14,7347_4722_3357_3131_2506_9690_5726_6597_11321_...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,2817658
1002,1003,63,268,3_0_0_0_3_5_0_4_0_3_1_6_0_0_1_0_0_0_3_1_3_1_4_...,2021-06-07 17:48:27,2021-06-07 18:04:17,7007_5952_4096_6111_7023_7304_7224_7224_10160_...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_2_...,7584401
1003,1004,207,478,3_0_0_0_3_0_0_6_6_0_0_6_0_3_6_0_0_3_0_7_0_0_7_...,2021-06-07 19:32:43,2021-06-07 19:48:06,18432_1700_5120_5593_7385_1584_16441_3111_6824...,2_1_1_1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_...,6185452
1004,1005,173,460,5_0_0_0_0_0_3_6_6_3_3_6_0_6_6_3_1_6_2_6_0_0_0_...,2021-06-07 20:21:24,2021-06-07 20:30:09,8300_2427_2624_2602_3478_3549_4809_4298_8323_7...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,4158205

In [49]:
subj

,subject_id,subject_num,gender,age,education,occupation
0,1,A1ZDR2UN7M92LI,m,37,16.0,foodprep
1,2,A2HSX08DWDYJU7,f,36,17.0,Freelancer
2,3,A1G5UODTVW13MM,m,42,12.0,mechanic
3,4,A173A97OFDAX9F,f,25,16.0,salesperson
4,5,A3GWRDHAURRNK6,m,49,17.0,Hotelfoodandbeveragemanager
...,...,...,...,...,...,...
633,634,ABFJSOC07JFH2,f,35,19.0,Teachingassociateatuniversity
634,635,A55CXM7QR7R0N,f,48,12.0,Homemaker
635,636,AYIFHDQSXQJ6B,f,37,13.0,relayoperator
636,637,A2KBTDHM44J7X4,m,34,16.0,ebayresellerdataentry
637,638,A2QKPBMYWR4KT3,m,32,13.0,Unemployed

In [50]:
### res + subj
print('result columns:', res.columns.values.tolist())
print('subject columns:', subj.columns.values.tolist())

res_all = pd.merge(left=res, right=subj, on='subject_id')
res_all = res_all.sort_values(by=['id'])
print('result df:', res.shape)
print('subject df:', subj.shape)
print('combined df:', res_all.shape)
res_all

result columns: ['id', 'stim_id', 'subject_id', 'response', 'start', 'end', 'rt', 'buttonpress', 'turkcode']
subject columns: ['subject_id', 'subject_num', 'gender', 'age', 'education', 'occupation']
result df: (1005, 9)
subject df: (638, 6)
combined df: (1005, 14)

,id,stim_id,subject_id,response,start,end,rt,buttonpress,turkcode,subject_num,gender,age,education,occupation
0,1,314,1,2_0_0_0_0_2_1_1_1_1_0_0_3_1_1_0_0_0_0_0_0_0_6_...,2021-05-28 16:52:09,2021-05-28 16:57:15,3808_2670_2578_2162_2638_3586_3468_2829_7744_2...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,1172003,A1ZDR2UN7M92LI,m,37,16.0,foodprep
3,2,83,2,3_1_3_2_0_0_2_1_1_1_3_1_0_0_0_0_1_0_0_3_2_5_4_...,2021-05-28 16:53:22,2021-05-28 16:58:34,2985_4603_2106_6111_3864_6071_1738_3299_2842_2...,1_1_1_2_1_2_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_2_1_...,6827148,A2HSX08DWDYJU7,f,36,17.0,Freelancer
5,3,196,3,3_3_0_1_3_3_1_4_3_3_5_6_1_3_2_1_0_0_2_1_2_1_3_...,2021-05-28 16:53:23,2021-05-28 16:58:54,3791_2363_2233_2699_7626_5000_2766_2659_3275_2...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,9867722,A1G5UODTVW13MM,m,42,12.0,mechanic
8,4,226,4,6_2_1_2_3_2_2_2_5_3_2_1_3_4_3_2_2_3_3_2_3_1_3_...,2021-05-28 16:53:13,2021-05-28 16:59:04,2760_2504_3000_3256_4497_3863_2263_5360_3407_2...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,1299323,A173A97OFDAX9F,f,25,16.0,salesperson
12,5,36,5,1_0_0_0_0_1_3_1_2_0_1_0_0_1_4_1_0_4_0_0_0_1_1_...,2021-05-28 16:53:52,2021-05-28 16:59:49,2693_2568_1878_1820_2282_5372_6529_3926_3078_2...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_1_1_1_1_1_1_...,8866551,A3GWRDHAURRNK6,m,49,17.0,Hotelfoodandbeveragemanager
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,1001,59,638,2_0_0_0_0_2_4_5_1_4_1_4_0_4_5_0_1_2_5_5_1_1_1_...,2021-06-07 17:20:26,2021-06-07 17:27:57,3129_2720_2952_2216_3192_19344_2040_10048_3656...,2_1_1_1_1_1_1_1_2_2_2_1_2_3_1_1_1_1_1_1_1_1_2_...,3649306,A2QKPBMYWR4KT3,m,32,13.0,Unemployed
307,1002,129,135,3_0_0_0_0_1_0_0_2_0_0_0_0_1_0_0_0_0_0_0_0_0_0_...,2021-06-07 17:28:50,2021-06-07 17:43:14,7347_4722_3357_3131_2506_9690_5726_6597_11321_...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,2817658,A1P3HHEXWNLJMP,m,35,16.0,webdeveloper
523,1003,63,268,3_0_0_0_3_5_0_4_0_3_1_6_0_0_1_0_0_0_3_1_3_1_4_...,2021-06-07 17:48:27,2021-06-07 18:04:17,7007_5952_4096_6111_7023_7304_7224_7224_10160_...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_2_...,7584401,A3HTLXAPOBCVVO,f,51,16.0,marketingstrategist
827,1004,207,478,3_0_0_0_3_0_0_6_6_0_0_6_0_3_6_0_0_3_0_7_0_0_7_...,2021-06-07 19:32:43,2021-06-07 19:48:06,18432_1700_5120_5593_7385_1584_16441_3111_6824...,2_1_1_1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_...,6185452,AYPOAY43REHC8,f,54,16.0,REALTOR
799,1005,173,460,5_0_0_0_0_0_3_6_6_3_3_6_0_6_6_3_1_6_2_6_0_0_0_...,2021-06-07 20:21:24,2021-06-07 20:30:09,8300_2427_2624_2602_3478_3549_4809_4298_8323_7...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,4158205,ASVRLMDNQBUD9,m,41,14.0,OptionsTraderManager

In [51]:
catch

        id  results_id  catch_subject_id catch_response
0        1           1                 1      0_6_0_6_6
1        2           2                 2      7_6_0_6_6
2        3           3                 3      0_6_0_6_6
3        4           4                 4      0_6_0_6_6
4        5           5                 5      0_6_0_6_6
...    ...         ...               ...            ...
1000  1001        1001               638      0_6_7_6_6
1001  1002        1002               135      0_6_0_6_6
1002  1003        1003               268      0_6_0_6_6
1003  1004        1004               478      0_6_0_6_6
1004  1005        1005               460      0_6_0_6_6

[1005 rows x 4 columns]

In [52]:
##### res_all + catch 
catch = catch.drop(columns='id')  ## we don't need this because 'id'=='results_id' in catch table
print('res_all columns:', res_all.columns.values.tolist())
print('catch columns:', catch.columns.values.tolist())

overlap = [i for i in catch.columns.values.tolist() if i in res_all.columns.values.tolist()]
print(overlap)

res_all columns: ['id', 'stim_id', 'subject_id', 'response', 'start', 'end', 'rt', 'buttonpress', 'turkcode', 'subject_num', 'gender', 'age', 'education', 'occupation']
catch columns: ['results_id', 'catch_subject_id', 'catch_response']
[]

In [53]:
### merge on "results_id"
res_all = pd.merge(left=res_all, right=catch, left_on="id", right_on="results_id")

print(res_all.shape)
print(catch.shape)

(1005, 17)
(1005, 3)

In [54]:
res_all

,id,stim_id,subject_id,response,start,end,rt,buttonpress,turkcode,subject_num,gender,age,education,occupation,results_id,catch_subject_id,catch_response
0,1,314,1,2_0_0_0_0_2_1_1_1_1_0_0_3_1_1_0_0_0_0_0_0_0_6_...,2021-05-28 16:52:09,2021-05-28 16:57:15,3808_2670_2578_2162_2638_3586_3468_2829_7744_2...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,1172003,A1ZDR2UN7M92LI,m,37,16.0,foodprep,1,1,0_6_0_6_6
1,2,83,2,3_1_3_2_0_0_2_1_1_1_3_1_0_0_0_0_1_0_0_3_2_5_4_...,2021-05-28 16:53:22,2021-05-28 16:58:34,2985_4603_2106_6111_3864_6071_1738_3299_2842_2...,1_1_1_2_1_2_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_2_1_...,6827148,A2HSX08DWDYJU7,f,36,17.0,Freelancer,2,2,7_6_0_6_6
2,3,196,3,3_3_0_1_3_3_1_4_3_3_5_6_1_3_2_1_0_0_2_1_2_1_3_...,2021-05-28 16:53:23,2021-05-28 16:58:54,3791_2363_2233_2699_7626_5000_2766_2659_3275_2...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,9867722,A1G5UODTVW13MM,m,42,12.0,mechanic,3,3,0_6_0_6_6
3,4,226,4,6_2_1_2_3_2_2_2_5_3_2_1_3_4_3_2_2_3_3_2_3_1_3_...,2021-05-28 16:53:13,2021-05-28 16:59:04,2760_2504_3000_3256_4497_3863_2263_5360_3407_2...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,1299323,A173A97OFDAX9F,f,25,16.0,salesperson,4,4,0_6_0_6_6
4,5,36,5,1_0_0_0_0_1_3_1_2_0_1_0_0_1_4_1_0_4_0_0_0_1_1_...,2021-05-28 16:53:52,2021-05-28 16:59:49,2693_2568_1878_1820_2282_5372_6529_3926_3078_2...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_1_1_1_1_1_1_...,8866551,A3GWRDHAURRNK6,m,49,17.0,Hotelfoodandbeveragemanager,5,5,0_6_0_6_6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,1001,59,638,2_0_0_0_0_2_4_5_1_4_1_4_0_4_5_0_1_2_5_5_1_1_1_...,2021-06-07 17:20:26,2021-06-07 17:27:57,3129_2720_2952_2216_3192_19344_2040_10048_3656...,2_1_1_1_1_1_1_1_2_2_2_1_2_3_1_1_1_1_1_1_1_1_2_...,3649306,A2QKPBMYWR4KT3,m,32,13.0,Unemployed,1001,638,0_6_7_6_6
1001,1002,129,135,3_0_0_0_0_1_0_0_2_0_0_0_0_1_0_0_0_0_0_0_0_0_0_...,2021-06-07 17:28:50,2021-06-07 17:43:14,7347_4722_3357_3131_2506_9690_5726_6597_11321_...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,2817658,A1P3HHEXWNLJMP,m,35,16.0,webdeveloper,1002,135,0_6_0_6_6
1002,1003,63,268,3_0_0_0_3_5_0_4_0_3_1_6_0_0_1_0_0_0_3_1_3_1_4_...,2021-06-07 17:48:27,2021-06-07 18:04:17,7007_5952_4096_6111_7023_7304_7224_7224_10160_...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_1_1_2_...,7584401,A3HTLXAPOBCVVO,f,51,16.0,marketingstrategist,1003,268,0_6_0_6_6
1003,1004,207,478,3_0_0_0_3_0_0_6_6_0_0_6_0_3_6_0_0_3_0_7_0_0_7_...,2021-06-07 19:32:43,2021-06-07 19:48:06,18432_1700_5120_5593_7385_1584_16441_3111_6824...,2_1_1_1_2_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_2_...,6185452,AYPOAY43REHC8,f,54,16.0,REALTOR,1004,478,0_6_0_6_6
1004,1005,173,460,5_0_0_0_0_0_3_6_6_3_3_6_0_6_6_3_1_6_2_6_0_0_0_...,2021-06-07 20:21:24,2021-06-07 20:30:09,8300_2427_2624_2602_3478_3549_4809_4298_8323_7...,1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_...,4158205,ASVRLMDNQBUD9,m,41,14.0,OptionsTraderManager,1005,460,0_6_0_6_6

In [55]:
##### indicate bad subjects

res_all['catch_response_split'] = res_all['catch_response'].apply(lambda x:x.split('_'))

catch_series = res_all['catch_response_split'].tolist()
correct_answer = [count_correct_answers(catch_answers, l) for l in catch_series]
res_all['correctN'] = correct_answer

In [56]:
res_all.loc[res_all['correctN']<4, 'badsubject'] = 'Y'
res_all.loc[res_all['correctN']>=4, 'badsubject'] = 'N'

In [57]:
reject_list = res_all.loc[res_all['badsubject']=='Y', 'turkcode']

In [61]:
df_out = res_all.loc[res_all['badsubject']=='Y', ]

In [63]:
df_out.to_csv(path+'badsubjects.csv')

In [58]:
reject_list

12     8504470
56     2269681
76     7473740
86     7509410
108    8181640
154    3947747
173    9180028
213    3256016
289    6322300
368    2983490
378    3365975
397    3230205
435    6980909
458    6926568
546    5538229
552    1276417
553    2842095
597    8957450
667    9951651
668    1581991
707    6056131
737    3573707
812    8010979
813    9080171
821    1050030
861    2101290
874    5216904
878    9229842
880    9561820
912    2873806
917    2599630
996    2563802
Name: turkcode, dtype: int64

In [ ]:
##########testing
sampledata = {'id': [1,2,3], 'response': [0_6_0_6_6, 7_6_0_6_6, 0_6_5_5_5]}
df = pd.DataFrame(sampledata)